<div class=" container d-grid gap-3 mt-5 p-0 weather-additional-info">
  <div class="info-card p-3 border rounded">
    <h5 class="fw-light">Wind</h5>
    <h1 class="fw-light">6 km/h</h1>
    <h5 class="fw-light">East</h5>
  </div>
  <div class="info-card p-3 border rounded">
    <h5 class="fw-light">Humidity</h5>
    <h1 class="fw-light">69%</h1>
  </div>
  <div class="info-card p-3 border rounded">
    <h5 class="fw-light">Real Feel</h5>
    <h1 class="fw-light">35°C</h1>
  </div>
  <div class="info-card p-3 border rounded">
    <h5 class="fw-light">UV index</h5>
    <h1 class="fw-light">3</h1>
    <h5 class="fw-light">Moderate</h5>
  </div>
  <div class="info-card p-3 border rounded">
    <h5 class="fw-light">Pressure</h5>
    <h1 class="fw-light">1000 mb</h1>
  </div>
  <div class="info-card p-3 border rounded">
    <h5 class="fw-light">Chance of rain</h5>
    <h1 class="fw-light">70%</h1>
  </div>
  <div class="info-card p-3 border rounded">
    <h5 class="fw-light">Temperature History</h5>
    <h5 class="fw-light">35°C</h5>
    <h5 class="fw-light">21°C</h5>
  </div>
  <div class="info-card p-3 border rounded">
    <h5 class="fw-light">Temperature History</h5>
    <h5 class="fw-light">35°C</h5>
    <h5 class="fw-light">21°C</h5>
  </div>
  <div class="info-card p-3 border rounded">
    <h5 class="fw-light">Temperature History</h5>
    <h5 class="fw-light">35°C</h5>
    <h5 class="fw-light">21°C</h5>
  </div>
</div>
