<div class="weather-logs-container container p-3 border border-danger">
  <h3 class="fw-light">Weather Logs</h3>
  <% if @weathers.present? %>
      <% @weathers.each do |weather| %>
         <%= render partial: "weathers/weather_log", locals: { weather: weather } %>
      <% end %>
   <% end %>
</div>
<div class="modal fade" id="deleteMemberModal" tabindex="-1" role="dialog" aria-labelledby="deleteMemberModal" aria-hidden="true">

</div>
