<div class="weather-logs-container container p-3">
  <h3 class="fw-light">Weather Logs</h3>
  <% if @weathers.present? %>
    <% @weathers.each do |weather| %>
        <%= render partial: "weathers/weather_log", locals: { weather: weather } %>
    <% end %>
  <% end %>
  <div class="page-navigator d-flex justify-content-between">
    <%= link_to_prev_page @weathers, '< Previous Page', class:"btn btn-info text-light fs-4", style:"text-decoration: none" %>
    <%= link_to_next_page @weathers, 'Next Page >', class:"btn btn-info text-light fs-4", style:"text-decoration: none" %>
  </div>
</div>
<div class="modal fade" id="deleteMemberModal" tabindex="-1" role="dialog" aria-labelledby="deleteMemberModal" aria-hidden="true">

</div>
